@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24272e;
}

header {
    background: white;
    padding: 30px;
}

header > h1 {
    color: #24272e;
    text-align: center;
    font-family: Asap, sans-serif;
}

.score-board {
    margin: 30px auto;
    border: 3px solid white;
    border-radius: 20px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge {
    background-color: white;
    color: #24272e;
    border-radius: 20px;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
}

img {
    height: 200px;
    width: 200px;
    border: 3px solid white;
    border-radius: 50%;
}

.choises {
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.choise:hover {
    cursor: pointer;
}

.green-glow {
    /* border: 4px solid #4dcc7d; */
    border: transparent;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px #31b43a;
}

.red-glow {
    /* border: 4px solid #fc121b; */
    border: transparent;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px #d01115;
}

.white-glow {
    /* border: 4px solid #464647; */
    border: transparent;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px white;
}

#action-message {
    text-align: center;
    color: white;
    font-family: Asap, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
}